<%= attachment_image_tag user,:profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table table-responsive">
  <tr><th>name</th><td><%= user.name %></td></tr>
  <tr><th>introduction</th><td><%= user.introduction %></td></tr>
  </table>
  <tr><th colspan="2">
    <% if user == current_user %>
      <%= link_to edit_user_path(current_user), class: "btn btn-default btn-block" do %>
      <span class="fas fa-user-cog fa-border"></span>
      <% end %>
    <%# else %>
      <%#= render 'users/show' %>
    <% end %>


  </th></tr>
