<div class="container">
 <div class="row">
  <div class="col-md-3">
   <div class="sidebar_content">
    <div>
     <h1>User info</h1>
     <%= render 'users/user', user: @user %>
    </div>
    <div>
     <h1>New book</h1>
     <%= render 'books/book', book: @book %>
    </div>
   </div>
    </div>
     <%= render 'books/index', books: @books %>
    
 </div>
</div>