<% if flash[:notice] %>
 <p id="notice">
<%= flash[:notice] %>
 </p>
<% end %>

<div class="container">
  <div class="center-block">
   <h1>welcome to<i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
   <div class = "top-text">
   <p>In<i class="fas fa-book"></i><strong>Bookers</strong>,</br>
   you can share and exchange your opinions , inpressions ,and emotions</p>
   <p>about various books!</p>

    <div>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary col-6 mx-auto" %>
    </div>
    <div>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success col-6 mx-auto" %>
    </div>

  </div>
</div>
